{% extends 'app/base.html' %}

{% block content %}

<br></br><br></br>
<div class="center_container">
    <h1 align="center" class="display-1">Who are you?</h1>
    <hr>
    <div align="center" class="buttons-profiles">
        <div class="row">
            <div class="col-sm">
                <a href="{% url 'create_profile_student' %}" class="btn btn-lg btn-primary"><h1 align="center" class="display-1">Student</h1></a>
            </div>
            <div class="col-sm">
                <a href="{% url 'create_profile_teacher' %}" class="btn btn-lg btn-primary"><h1 align="center" class="display-1">Teacher</h1></a>
            </div>
            <div class="col-sm">
                <a href="{% url 'create_profile_director' %}" class="btn btn-lg btn-primary"><h1 align="center" class="display-1">Director</h1></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}