{% extends 'app/base.html' %}

{% block content %}

<h1 align="center" class="display-1">Enter data</h1>

<form method="POST" action="">
    {% csrf_token %}
    {{form.classrooms.label}}
    <div class="form-check">
        {% for form_classroom in form.classrooms %}
            {{form_classroom}}
        {% endfor %}
    </div>
    {{form.subjects.label}}
    <div class="form-check">
        {% for form_subject in form.subjects %}
            {{form_subject}}
            <br>
        {% endfor %}
    </div>
    <div class="mb-3">
        <label class="form-label">{{form.phone_number.label}}</label>
        {{form.phone_number}}
    </div>
    <div class="mb-3">
        <label class="form-label">{{form.personal_identity_number.label}}</label>
        {{form.personal_identity_number}}
    </div>
    <div class="mb-3">
        <label class="form-label">{{form.address.label}}</label>
        {{form.address}}
    </div>
        {{form.user}}
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
    </div>
</form>


{% endblock %}