{% extends 'dashboard/dashboard.html' %}
{% block main %}
{% if is_error == True %}
<h1>Error</h1>
{% else %}
<table class="table table-bordered">
  <thead>
    <tr>
    <th scope="col">Hour</th>
      <th scope="col">#</th>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thursday</th>
      <th scope="col">Friday</th>
    </tr>
  </thead>
  <tbody>

  {% for lesson_index, lesson in zipped %}
        <tr>
            <td>{{lesson_index.get_hour_start_finish}}</td>
            <th scope="row">{{forloop.counter}}</th>
            <th>{{lesson.0}}</th>
            <th>{{lesson.1}}</th>
            <th>{{lesson.2}}</th>
            <th>{{lesson.3}}</th>
            <th>{{lesson.4}}</th>
        </tr>
  {% endfor %}
  </tbody>
</table>
<a href="#" class="btn btn-danger">EDIT</a>
{% endif %}
{% endblock %}