<h1 align="center" class="display-4">Classroom - {{classroom.name}} <b>{{subject.name.upper}}</b></h1>
<hr>

<br>
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link {{ active_list.0 }}" aria-current="page" href="#">VideoChat</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ active_list.1 }}" href="{% url 'dashboard_posts' classroom.id subject.id %}">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ active_list.2 }}" href="{% url 'dashboard_homeworks' classroom.id subject.id %}">Homeworks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ active_list.3 }}" href="{% url 'dashboard_marks' classroom.id subject.id %}">Marks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ active_list.4 }}" href="{% url 'dashboard_lesson_plan' classroom.id subject.id %}">Lesson Plan</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ active_list.5 }}" href="#">Messages</a>
  </li>
</ul>
<hr>