{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img src="{% static 'images/logo2.png' %}" style="height: 60px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if request.user.student.is_student %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
        {% endif %}

        {% if request.user.teacher.is_teacher %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'choice_classroom' %}">Dashboard</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="#">Mail</a>
        </li>
        <li>
          <button type="button" class="btn btn-primary">Notifications <span class="badge bg-secondary">4</span></button>
        </li>
      </ul>     
    </div> 
    <h5 style="color: white;">{{request.user.first_name}} {{request.user.last_name}}</h5>
  </div>
    <span><a style="margin-right: 20px;" class="btn btn-primary" href="{% url 'logout' %}">Logout</a></span>
</nav>